* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #ECF0F1;
}

[data-component="navigation"] {
  background: #3498DB;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

[data-component="navigation"] ul {
  padding: 0 25px;
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: flex;
}

[data-component="navigation"] li {
  width: 33%;
}

[data-component="navigation"] a {
  --height: 60px;
  color: white;
  text-decoration: none;
  height: var(--height);
  width: 100%;
  text-align: center;
  display: block;
  line-height: var(--height);
}

.loading {
  --height: 100px;
  --width: 180px;
  top: 50%;
  left: 50%;
  margin-top: calc(var(--height)/-2);
  margin-left: calc(var(--width)/-2);
  display: block;
  height: var(--height);
  width: var(--width);
  position: absolute;
}
