[data-component="quizzer"] .quiz {
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-end;
}

[data-component="quizzer"] .display {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

[data-component="quizzer"] progress {
    width: 100%;
}

[data-component="quizzer"] .submission {
    border-radius: 5px;
    padding: 11px 8px;
    border: none;
    background: transparent;
    margin-bottom: -47px;
    font-size: 1.2rem;
}

[data-component="quizzer"] .submission:focus {
    border: 0;
    outline-color: #BBB;
    box-shadow: none;
    outline: none;
}

[data-component="quizzer"] .clock {
    display: none;
}

[data-component="quizzer"] .progress {
    padding: 0;
    width: 100%;
    height: 25px;
    overflow: hidden;
    background: white;
    border-radius: 5px;
}

[data-component="quizzer"] .bar {
    float: left;
    min-width: 1%;
    height: 100%;
    background: var(--blue);
    transition: width 1s;
    opacity: 0.25;
}

[data-component="quizzer"] .progress.card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

[data-component="quizzer"] .progress.session {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@keyframes flash_correct {
    0% {
        background: var(--blue);
    }
    100% {
        background: var(--green);
    }
}

@keyframes flash_incorrect {
    0% {
        background: var(--blue);
    }
    100% {
        background: var(--red);
    }
}

[data-component="quizzer"] .submission {
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-duration: 0.25s;
}

[data-component="quizzer"] .submission.correct {
    animation-name: flash_correct;
}

[data-component="quizzer"] .submission.incorrect {
    animation-name: flash_incorrect;
}

[data-component="quizzer"] .trust {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 75px;
    display: none;
}

[data-show-trust-mode="true"] .trust {
    display: block;
}

[data-component="quizzer"] .trust.trust-incorrect {
    background: rgba(0, 0, 0, 0.05);
    left: 25px;
    color: #555;
    font-weight: bold;
}

[data-component="quizzer"] .trust.trust-correct {
    right: 25px;
}